<body>
  <div class="body2"><p>landing works!</p>
    <!--<div *ngIf="standingsData">
        <h2>Seasons by Tournament</h2>
        <ul>
          <li *ngFor="let item of standingsData">
            {{ competitions }}
          </li>
        </ul>
      </div> -->
      <form 
      *ngIf="userService.roleMatch(['ROLE_ADMIN'])" 
      (ngSubmit)="submitForm()" #numberForm="ngForm">
        <label for="classificaId">Inserisci classifica ID:</label>
        <input
          type="number"
          id="classificaId"
          name="classificaId"
          [(ngModel)]="inputNumero"
          required
        />
      
        <button type="submit" [disabled]="!numberForm.form.valid">
          Invia
        </button>
      </form>
    <div class="flex">
      <div class="table">
        <div class="tablepart">
          <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="punti" matSortActive="differenza" matSortDirection="desc">  
            <ng-container matColumnDef="img">
              <th style=" width: 10px;" mat-header-cell *matHeaderCellDef > Pos. </th>
              <td  class="center" mat-cell *matCellDef="let element"> <img [src]="getPath(element.jersey.color)"> </td>
            </ng-container>
            <ng-container matColumnDef="nome">
              <th style="width: 70px;"mat-header-cell *matHeaderCellDef> Club </th>
              <td class="left" mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="punti">
                <th style=" width: 10px;"mat-header-cell *matHeaderCellDef > Punti </th>
                <td mat-cell *matCellDef="let element"> {{element.punti}} </td>
            </ng-container>
            <ng-container matColumnDef="differenza">
              <th style="width: 10px;"mat-header-cell *matHeaderCellDef > Differenza </th>
              <td class="right"mat-cell *matCellDef="let element"> {{element.differenza}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </div>
    <div class="middle">
        <aside class="results">
         <h1>Ultime Partite</h1>
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
          <!-- <ng-container  matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="right" mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container> -->
          <ng-container matColumnDef="img1">
            <th style="background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); height: 1px;" mat-header-cell *matHeaderCellDef > 26.10.2022 </th>
            <td style="background-color: rgb(255, 255, 255);" class="center"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra1.jersey.color)"> </td>
          </ng-container>
          <!--     
          <ng-container matColumnDef="squadra1.nome">
            <th mat-header-cell *matHeaderCellDef> Home </th>
            <td mat-cell *matCellDef="let element"> {{element.squadra1.nome}} </td>
          </ng-container> -->
          <ng-container matColumnDef="puntisquadra1">
            <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef> </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <div class="boxy">{{element.puntisquadra1}}</div> </td>
          </ng-container>
          <ng-container matColumnDef="dash">
            <th style="background-color: rgb(255, 255, 255); width: 10px; height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> -</td>
          </ng-container>
          <ng-container matColumnDef="puntisquadra2">
            <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
            <td style="background-color: rgb(255, 255, 255); "mat-cell *matCellDef="let element" > <div class="boxy">{{element.puntisquadra2}}</div>  </td>
          </ng-container>
          <!-- <ng-container matColumnDef="squadra2.nome">
            <th mat-header-cell *matHeaderCellDef> Away </th>
            <td mat-cell *matCellDef="let element"> {{element.squadra2.nome}} </td>
          </ng-container> -->
          <ng-container matColumnDef="img2">
            <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra2.jersey.color)"> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
      </aside>
      <aside class="results">
        <h1>Prossime Partite</h1>
           <table mat-table [dataSource]="fixturesDataSource" class="mat-elevation-z8">
         <!-- <ng-container  matColumnDef="date">
           <th mat-header-cell *matHeaderCellDef></th>
           <td class="right" mat-cell *matCellDef="let element"> {{element.date}} </td>
         </ng-container> -->
         <ng-container matColumnDef="img1">
           <th style="background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); height: 1px;" mat-header-cell *matHeaderCellDef > 26.10.2022 </th>
           <td style="background-color: rgb(255, 255, 255);" class="center"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra1.jersey.color)"> </td>
         </ng-container>
         <!--     
         <ng-container matColumnDef="squadra1.nome">
           <th mat-header-cell *matHeaderCellDef> Home </th>
           <td mat-cell *matCellDef="let element"> {{element.squadra1.nome}} </td>
         </ng-container> 
         <ng-container matColumnDef="puntisquadra1">
           <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef> </th>
           <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <div class="boxy">{{element.puntisquadra1}}</div> </td>
         </ng-container>-->
         <ng-container matColumnDef="dash">
           <th style="background-color: rgb(255, 255, 255); width: 10px; height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
           <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> -</td>
         </ng-container>
        <!--   <ng-container matColumnDef="puntisquadra2">
           <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
           <td style="background-color: rgb(255, 255, 255); "mat-cell *matCellDef="let element" > <div class="boxy">{{element.puntisquadra2}}</div>  </td>
         </ng-container>-->
         <!-- <ng-container matColumnDef="squadra2.nome">
           <th mat-header-cell *matHeaderCellDef> Away </th>
           <td mat-cell *matCellDef="let element"> {{element.squadra2.nome}} </td>
         </ng-container> -->
         <ng-container matColumnDef="img2">
           <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
           <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra2.jersey.color)"> </td>
         </ng-container>
         <ng-container matColumnDef="channel">
          <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
          <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element">{{element.channel.name}}</td>
        </ng-container>
        <ng-container matColumnDef="tickets">
          <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
          <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element">{{element.tickets}}</td>
        </ng-container>
        <ng-container matColumnDef="stadium">
          <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
          <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element">{{element.squadra1.stadium.name}}</td>
        </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
       </table>
     </aside>
        <aside class="updates">
            <h1>Ultime Notizie</h1>
            

            <div class="video"
            *ngFor="let news1 of news">
            <br>
            <aside class="photo">
                <!-- <img [src]="getPath(news1.picture.name)"> -->
            </aside>
            <h3>{{news1.title}}</h3>
            <h4>{{news1.content}}</h4>
            <button  color="success" mat-raised-button (click)="modifyNews(news1.id)">Modifica</button>
            <button [ngClass]="isAdmin()" color="warn" mat-raised-button (click)="cancella(news1.id)">Cancella</button>
           
          </div>

            <!-- <aside class="photo">
                <img src="../../../assets/rugby-ga49ab06f6_1920.jpg">
            </aside>
            <h3>04.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
            <aside class="photo">
                <img src="../../../assets/rugby-gedab47da2_1920.jpg">
            </aside>
            <h3>07.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
            <aside class="photo">
                <img src="../../../assets//team-g50249347d_1920.jpg">
            </aside>
            <h3>07.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
          -->
        </aside>
      </div>
    <!-- <div class="news">
        <aside class="video">
            <aside class="player">
                <iframe 
                src="https://www.youtube.com/embed/AUBGCtkqdQU">
                </iframe>
            </aside>
            <aside class="text">
                <h1>Italy Men v Wales</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe 
                src="https://www.youtube.com/embed/Hn97hzsKaLY">
                </iframe>
            </aside>
            <aside class="text">
                <h1>Italy Women v France</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe src="https://www.youtube.com/embed/q33Tkph3jWs"></iframe>
            </aside>
            <aside class="text">
                <h1>Munster Men v Ulster Men</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe src="https://www.youtube.com/embed/J_QL9dTLUMM"></iframe>
            </aside>
            <aside class="text">
                <h1>Bulls  v Sharks </h1>
            </aside>
        </aside>
    </div>  -->
      <div class="sponsors">
        <aside class="sponsor">
            <img src="../../../assets/force.jpeg">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/ecos.jpeg" alt="Paris">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/rugbyitalia.jpg" alt="Paris">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/lx4.jpeg" alt="Paris">
        </aside>
      </div>
    </div>
  </div>

  <div *ngIf="modifybox === true">
    <div>
      <h1>Mofifche Player</h1>
      <form [formGroup]="NewsModifyFormGroup" class="register" #f="ngForm" (ngSubmit)="modify()">
        <div class="modify">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [ngModel]= "newsData.title" type="text" formControlName="title" class="form-control" placeholder=" Title" required>
            <span class="text-danger" *ngIf="NewsModifyFormGroup.controls['title'].dirty && NewsModifyFormGroup.hasError('required', 'title')">*Il Nome e obbligatorio!</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <input matInput [ngModel]= "newsData.content"type="text" formControlName="content" class="form-control" placeholder="Content" required>
            <span class="text-danger" *ngIf="NewsModifyFormGroup.controls['content'].dirty && NewsModifyFormGroup.hasError('required', 'content')">*I tries sono obbligatori!</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label  style="color: white">Picture</mat-label>
            <mat-select formControlName="picture" class="form-control">
              <span class="text-danger" *ngIf="NewsModifyFormGroup.controls['picture'].dirty && NewsModifyFormGroup.hasError('required', 'picture')">*Il Picture e obbligatorio!</span>
              <mat-option *ngFor="let p of picture" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons">
            <button mat-button  [disabled]="!NewsModifyFormGroup.valid" type="submit">Submit</button>
            <button mat-button class="enter" (click)="close()">Close</button>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="areYouSure === true">
    <div class="modify">
        <h2>Sei sicuro?</h2>
        <div class="buttons">
          <button mat-button   (click)="cancellaNews()" >Remove</button>
          <br>
          <button mat-button class="enter" (click)="close()" >Close</button>
        </div>
    </div>
  </div>
</body>
