
p{
    padding-top: 5%;
 }

 .modify {
    text-align: center;
    position: absolute;
    top: 100px;
    margin: 1% 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 520px;
    width:60%;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.95);
    border-radius: 20px;
  }

  button {
    height: 35px;
     margin-left: 15%;
     margin-right:15%;
     background-color: rgb(109, 159, 230);
     color: white;
   }
 
   .modify button {
     margin-top: 1%;
     margin-left: 25%;
     margin-right:25%;
   }

.flex {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.boxy {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    padding-top: 15%;
    border-radius: 5px;
}

.table {
    margin-left: 1%;
    height: 1400px;
    width: 25%;
    

}



.tablepart2 {
    text-align: center;
    margin-top: 5%;
    background-color: rgb(238, 239, 240);
    border-radius: 5px;
    height: 800px;
 

}

.middle {
    text-align: center;
    margin-left: 1%;
    height: 900px;
    width: 34%;
  
   display:flex;
   flex-direction: column;
   display: inline-block;
    
}

.results {
    margin-bottom: 1%;
  overflow: hidden;
    height: 500px;
    width: 100%;
    background-color: rgb(238, 239, 240);
   border-radius: 5px;
   font-size: .2rem;
   
    
}

.updates {
    margin-top: 1%;
    height: 850px;
    width: 100%;

   display: inline-block;
   background-color: rgb(238, 239, 240);
    border-radius: 5px;
}

.news {
    margin-left: 1%;
    height: 1300px;
    width: 36%;
    background-color: rgb(238, 239, 240);
    border-radius: 5px;
}

.video {
    margin: 3%;
    height: 300px;
    width: 95%;
    background-color: rgb(238, 239, 240);
    
}
iframe {
    width: 100%;
    height: 100%;
}

.player {
    margin: 3%;
    height: 240px;
    width: 90%;
   
    
}

.text {
    margin: 3%;
    height: 30px;
    width: 90%;
 
    
}

.sponsors {
   

    height: 200px;
    width: 100%;
    background-color: rgb(238, 239, 240);
    border-radius: 5px;
    display:flex;
    flex-direction: row;
}

.sponsor {
    margin: 3%;
background-color: white;
    height: 100px;
    width: 25%;
    border: 1px solid black;
    
}

.sponsor img {
    width: 50%;
    height: 90%;
    margin: 0 25%;
}

h2 {
    
   width:20%;
    margin:0 40%;
    font-size: 3rem;
    color: white;
}


 h1 {

    margin: 1%;
    }
.results h1 {

    height: 5px;
    }



h3 {

margin: 2%;
}

h5 {
    margin: 2%;
}

p {
    color: white;
}

body {
    background-image: url(../../../assets/baseball-field-g9820c46dc_1920.jpg);
    background-repeat: repeat;
    // filter: grayscale(100%);
    background-position: 1% 10%;
    height: 1700px;
   
   
}

table {
    background-color:  rgba(205, 211, 216, 0.95);
    margin: auto;
    opacity: 0.9;
    margin-top: 7.5%;
    text-align: center;
    width: 100%;
    height: 100%;

}

.left{
   
    text-align: left;
}

.center{
   
    text-align: center;
  }

p {
    color: transparent;
}

.resultsHeader {
    color: white;
    margin-left: 3%;
}


th {
    background-color:rgb(136, 138, 142);
    width: 80px;
    font-size: .8rem;
    color: white;

}

td{
    text-align: center;
    color: black;
}



// .mat-row:nth-child(2n)  {
 
//     //  background-color: white;
// }

.results td{
    font-size: .7rem;
    height: 100px;
}

.results td img {
 
    height: 50px;
    width: 60px;
}

// .mat-row:hover {
//     background-color: rgb(64, 62, 62);
//    td {color: white;}

// }

.photo {
    width: 100%;
    height: 150px;
    
}

aside img {
    width: 90%;
    margin: 0 5%;
    height: 150px;
}

h3,h4 {
    width: 90%;
    margin: 0 5%;
  
}

h4 {
    font-size: .7rem;
}

.updates aside img {
    width: 70%;
    margin: 0 15%;
    height: 150px;
}

.updates h3,h5 {
    width: 70%;
    margin: 0 15%;
  
}



table img {
    width: 25px;
    height: 20px;
   
   
  }


  @media only screen and (max-width:1000px) {
    
.table {

    display: none;
}

.middle {
    width: 45%;
    margin-left: 5%;
}

.news {
    width: 45%;
   
    
}

.sponsors {
    margin-top: 10%;
    height: 150px;
}

  }


  @media only screen and (max-width:700px) {
    
    p {
        height: 100px;
    }

.results {
    display: none;
}

    .flex {
    
        flex-direction: column;
    }
    
    .middle {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1%;
    }
    
    .news {
        margin-top: 1%;
        width: 80%;
        margin-left: 10%;
    }
    
    .sponsors {
        height: 550px;
        flex-direction: column;
    }

    .sponsor {
        width: 50%;
        margin:  2.5% 25%;
    }

    body {
    height: 2500px;

    }
    
      }