<body>
    <div class="body2"><p>landing works!</p>
      <div *ngIf="standingsData">
        <h2>Seasons by Tournament</h2>
        <ul>
          <li *ngFor="let item of standingsData">
            {{ competitions }}
          </li>
        </ul>
      </div>
      <!-- <div *ngIf="teamData; else loading">
       
        <h2>Team Information</h2>
        <ul>
          <li *ngFor="let team of teamData">
            <strong>{{ team }}</strong>
            
        
          </li>
        </ul>
      </div>
      
    
      <ng-template #loading>
        <p>Loading team data...</p>
      </ng-template>
      
   
      <div *ngIf="errorMessage">
        <p style="color: red;">Error: {{ errorMessage }}</p>
      </div> -->
      

<div class="flex">
    <div class="table">

      <div class="tablepart">
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="punti" matSortActive="differenza" matSortDirection="desc">  <!--- -->

    
                  <ng-container matColumnDef="img">
                    <th style=" width: 10px;" mat-header-cell *matHeaderCellDef > Pos. </th>
                    <td  class="center" mat-cell *matCellDef="let element"> <img [src]="getPath(element.jersey.color)"> </td>
                    
                  </ng-container>
               

            <!-- Position Column -->
            <ng-container matColumnDef="nome">
              <th style="width: 70px;"mat-header-cell *matHeaderCellDef> Club </th>
              <td class="left" mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
          
         

            <ng-container matColumnDef="punti">
                <th style=" width: 10px;"mat-header-cell *matHeaderCellDef > Punti </th>
                <td mat-cell *matCellDef="let element"> {{element.punti}} </td>
              </ng-container>

              <ng-container matColumnDef="differenza">
                <th style="width: 10px;"mat-header-cell *matHeaderCellDef > Differenza </th>
                <td class="right"mat-cell *matCellDef="let element"> {{element.differenza}} </td>
              </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
          <div class="tablepart2">
          <br>
          <h1>Condivisione Social</h1>
          <aside class="photo">
            <img src="../../../assets/rugby-g1d8010854_1920.jpg">
          </aside>
          <h3>Velate Rugby</h3>
          <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio quaerat placeat quis maiores neque expedita, atque quibusdam.</h4>
        <br>
          <aside class="photo">
            <img src="../../../assets/rugby-g87f2d2332_1920.jpg">
          </aside>
          <h3>Seregno Rugby</h3>
          <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio quaerat placeat quis maiores neque expedita, atque quibusdam.</h4>
        </div>

    </div>
    <div class="middle">
        <aside class="results">
            
         <h1>Ultime Partite</h1>
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <!-- <ng-container  matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td class="right" mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container> -->

                <ng-container matColumnDef="img1">
                  <th style="background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); height: 1px;" mat-header-cell *matHeaderCellDef > 26.10.2022 </th>
                  <td style="background-color: rgb(255, 255, 255);" class="center"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra1.jersey.color)"> </td>
                  
                </ng-container>

<!--     
          <ng-container matColumnDef="squadra1.nome">
            <th mat-header-cell *matHeaderCellDef> Home </th>
            <td mat-cell *matCellDef="let element"> {{element.squadra1.nome}} </td>
          </ng-container> -->
        
    
          <ng-container matColumnDef="puntisquadra1">
            <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef> </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <div class="boxy">{{element.puntisquadra1}}</div> </td>
          </ng-container>

          <ng-container matColumnDef="dash">
            <th style="background-color: rgb(255, 255, 255); width: 10px; height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> -</td>
          </ng-container>
        
     
          <ng-container matColumnDef="puntisquadra2">
            <th style="background-color: rgb(255, 255, 255); height: 1px;"mat-header-cell *matHeaderCellDef>  </th>
            <td style="background-color: rgb(255, 255, 255); "mat-cell *matCellDef="let element" > <div class="boxy">{{element.puntisquadra2}}</div>  </td>
          </ng-container>

       
        
          <!-- <ng-container matColumnDef="squadra2.nome">
            <th mat-header-cell *matHeaderCellDef> Away </th>
            <td mat-cell *matCellDef="let element"> {{element.squadra2.nome}} </td>
          </ng-container> -->

          <ng-container matColumnDef="img2">
            <th style="background-color: rgb(255, 255, 255);"mat-header-cell *matHeaderCellDef >  </th>
            <td style="background-color: rgb(255, 255, 255);"mat-cell *matCellDef="let element"> <img [src]="getPath(element.squadra2.jersey.color)"> </td>
            
          </ng-container>

    
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>





        </aside>
        <aside class="updates">
            <h1>Ultime Notizie</h1>
            <aside class="photo">
                <img src="../../../assets/rugby-ga49ab06f6_1920.jpg">
            </aside>
            <h3>04.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
            <aside class="photo">
                <img src="../../../assets/rugby-gedab47da2_1920.jpg">
            </aside>
            <h3>07.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
            <aside class="photo">
                <img src="../../../assets//team-g50249347d_1920.jpg">
            </aside>
            <h3>07.11.2022</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam expedita quasi voluptate. Omnis accusantium quam quos dolore recusandae velit itaque sit odio.</h5>
         
        </aside>
    </div>
    <!-- <div class="news">
        <aside class="video">
            <aside class="player">
                <iframe 
                src="https://www.youtube.com/embed/AUBGCtkqdQU">
                </iframe>
            
            </aside>
            <aside class="text">
                <h1>Italy Men v Wales</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe 
                src="https://www.youtube.com/embed/Hn97hzsKaLY">
                </iframe>
            </aside>
            <aside class="text">
                <h1>Italy Women v France</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe 
src="https://www.youtube.com/embed/q33Tkph3jWs">
</iframe>
            </aside>
            <aside class="text">
                <h1>Munster Men v Ulster Men</h1>
            </aside>
        </aside>
        <aside class="video">
            <aside class="player">
                <iframe 
src="https://www.youtube.com/embed/J_QL9dTLUMM">
</iframe>
            </aside>
            <aside class="text">
                <h1>Bulls  v Sharks </h1>
            </aside>
        </aside>
    </div>  -->

  
    <div class="sponsors">
       
        <aside class="sponsor">
            <img src="../../../assets/force.jpeg">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/ecos.jpeg" alt="Paris">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/rugbyitalia.jpg" alt="Paris">
        </aside>
        <aside class="sponsor">
            <img src="../../../assets/lx4.jpeg" alt="Paris">
        </aside>
   
    </div>
</div>
</div>
</body>
