h2 {
    color:black
  }
  
  .active-slide {
    /* Your styles for the active-slide class */
    border-bottom: 4px solid black !important;
    color: black !important;
  
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne */
    grid-template-rows: repeat(4, 1fr);    /* 4 righe */
    gap: 10px;                             /* Spaziatura tra bottoni */
    width: 80%;
    height: 100%;
    margin: 0;
    padding-top: 100px;
  }
  
  button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(235, 233, 233);
    font-size: 1.5rem;
    color: grey;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }
  

  div {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-35%);
      
      margin: 10% 20%;
      width: 90%;
      display: flex;
      flex-direction: column;
      height: 550px;
     align-items: center;
     width:60%;
  //    margin: 10rem auto;
    
      justify-content: center;
    
      background-color: rgba(240, 248, 255, 0.95);
      border-radius: 20px;
      // float: left;
    }
  
  //   form {
  //     border: 1px solid black;
  //   }
  
  
  mat-label{
      color: white;
  }
  
    
    mat-form-field{
      border-radius: 5px;
      margin-top: 1%;
      background-color:rgb(168, 184, 207);
      color: white;
      height: 50px;
      
      // display: flex;
      // flex-direction: column;
      width: 50%;
    }
  
    mat-label{
      
      color: black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    button {
      margin-top: 1%;
      background-color: rgb(109, 159, 230);
      color: white;
    }
    
  //   .enter {
  //     width: 5rem;
  //     height: 3.5rem;
  //     margin-left: 1.3rem;
    
  //   }
  body {
      background-image: url(../../assets/rugby-g1d8010854_1920.jpg);
      background-position: 40% 40%;
      height: 1300px;
  }
  
  h1 {
      color: transparent;
  }
  
  @media only screen and (max-width:800px) {
      
  
    div {
      width: 80%;
      margin: 25% 10%;
      height: 500px;
    }
  
    mat-form-field{
      
      margin-top: 1%;
     
   
      height: 50px;
      
      // display: flex;
      // flex-direction: column;
      width: 80%;
    }
  
  }
  
  @media only screen and (max-width:400px) {
      
  
    div {
     
      height: 450px;
    }
  
   
  
  
  }