<body>

  <li><a  href="#" routerLink="/registersquadre" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Squadre</a></li>
  <li><a  href="#" routerLink="/registerpartite" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Partite</a></li>
  <li><a  href="#" routerLink="/registerClassifica" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Classifica</a></li>
  <li><a  href="#" routerLink="/registerJersey" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Jersey</a></li>
  <li><a  href="#" routerLink="/registerSeason" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Season</a></li>
  <li><a  href="#" routerLink="/registerChampionship" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Championship</a></li>
  <li><a  href="#" routerLink="/registerPlayer" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Player</a></li>
  <li><a  href="#" routerLink="/registerStadium" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Stadium</a></li>
  <li><a  href="#" routerLink="/registerChannel" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Channel</a></li>
  <li><a  href="#" routerLink="/registerNews" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> News</a></li>
  <li><a  href="#" routerLink="/registerLoadIds" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> LoadID</a></li>

    <h1>Register Partite</h1>
    <h2>Select Season</h2>
    <div class="buttons">
      
        <button 
        class="slide" 
        *ngFor="let season of seasons"
        [ngClass]="{'active-slide': isActiveSeason(season.id)}"
        (click)="selectSeason(season.id)">
        {{ season.year }}
        </button>
    </div>
    <h2>Select Championship</h2>
    <div class="buttons">
      
      <button 
      class="slide2" 
    *ngFor="let championship of championships"
    [ngClass]="{'active-slide': isActiveChampionship(championship.id)}"
    (click)="selectChampionship(championship.id)">
    {{ championship.name }}
      </button>
  </div>
    <form [formGroup]="PartiteRegisterFormGroup" class="register" #f="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="main">
          <h2>Inserisci Partita</h2>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Date</mat-label>
                <input matInput type="date" formControlName="date" class="form-control" placeholder=" Date" required>
                <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['date'].dirty && PartiteRegisterFormGroup.hasError('required', 'date')">*Il Score e obbligatorio!</span>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label style="color: white">Squadra 1</mat-label>
                <!-- <mat-select [dataSource]="dataSource"> -->
                <mat-select formControlName="squadra1" class="form-control">
                    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['squadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'squadra1')">*Il Squadra e obbligatorio!</span>
              <!-- <mat-option *ngFor="let p of squadre" [dataSource]="p"> -->
                <mat-option *ngFor="let p of squadre" [value]="p.id">
                {{ p.nome }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label style="color: white">Score</mat-label>
        <input matInput type="number" formControlName="puntisquadra1" class="form-control" placeholder=" Score" required>
        <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['puntisquadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'puntisquadra1')">*Il Score e obbligatorio!</span>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label style="color: white">Mete</mat-label>
        <input matInput type="number" formControlName="meteSquadra1" class="form-control" placeholder=" Mete" required>
        <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['meteSquadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'meteSquadra1')">*Le Mete e obbligatorio!</span>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Squadra</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field> -->
  

    <mat-form-field appearance="fill">
        <mat-label  style="color: white">Squadra 2</mat-label>
        <!-- <mat-select [dataSource]="dataSource"> -->
            <mat-select formControlName="squadra2" class="form-control">
                <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['squadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'squadra2')">*Il Squadra e obbligatorio!</span>
      <!-- <mat-option *ngFor="let p of squadre" [dataSource]="p"> -->
        <mat-option *ngFor="let p of squadre" [value]="p.id">
        {{ p.nome }}
      </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label style="color: white">Score</mat-label>
    <input matInput type="number" formControlName="puntisquadra2" class="form-control" placeholder=" Score" required>
    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['puntisquadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'puntisquadra2')">*Il Score e obbligatorio!</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label style="color: white">Mete</mat-label>
    <input matInput type="number" formControlName="meteSquadra2" class="form-control" placeholder=" Mete" required>
    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['meteSquadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'meteSquadra2')">*Le Mete e obbligatorio!</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label style="color: white">Tickets</mat-label>
    <input matInput type="text" formControlName="tickets" class="form-control" placeholder=" Tickets" required>
    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['tickets'].dirty && PartiteRegisterFormGroup.hasError('required', 'tickets')">*Tickets e obbligatorio!</span>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label  style="color: white">Channel</mat-label>
    <!-- <mat-select [dataSource]="dataSource"> -->
        <mat-select formControlName="channel" class="form-control">
            <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['channel'].dirty && PartiteRegisterFormGroup.hasError('required', 'channel')">*Il Channel e obbligatorio!</span>
  <!-- <mat-option *ngFor="let p of squadre" [dataSource]="p"> -->
    <mat-option *ngFor="let p of channels" [value]="p">
    {{ p.name }}
  </mat-option>
</mat-select>
</mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label style="color: white">Girone</mat-label>
    <input matInput type="number" formControlName="girone" class="form-control" placeholder=" Girone" required>
    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['girone'].dirty && PartiteRegisterFormGroup.hasError('required', 'girone')">*Le Mete e obbligatorio!</span>
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label style="color: white">Girone</mat-label>
    <mat-select formControlName="classifica_id" class="form-control" placeholder=" Girone" required>
      <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['classifica_id'].dirty && PartiteRegisterFormGroup.hasError('required', 'classifica_id')">*Le Mete e obbligatorio!</span>
      <mat-option *ngFor="let p of classificas" [value]="p.id">
      {{ p.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label  style="color: white">Played?</mat-label>
    <mat-select formControlName="played" required>
      <mat-option [value]="true">Sì</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
</mat-form-field> -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location" class="form-control" placeholder="Location" required>
        <span class="text-danger" *ngIf="SquadreRegisterFormGroup.controls['location'].dirty && SquadreRegisterFormGroup.hasError('required', 'location')">*Il Location e obbligatoria!</span>
      </mat-form-field> -->
      <button mat-button [disabled]="!PartiteRegisterFormGroup.valid" type="submit" style="width : 10em; height: 3em;">Submit</button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    </form>
    
    
    </body>


