mat-toolbar {
    background-color:rgb(32, 114, 229);
}



.dropdown{
    display: inline-block;
    height:0;
    overflow: hidden;
    position: absolute;
    top: 70px;
    transition: height 0.5s ease-out;
    z-index: 1000;
}

li {
    background-color:rgb(32, 114, 229);
}

.desktop1 {
    display: none;
    
}

// The logo and dropdown icon (label)
.logo {
    position: fixed;
    right: 2.5%;
    top: .75%;
    z-index: 0;
    width: 60px;
    height: 50px;
    background-color: white;
    background-image: url("../../../assets/logo4.jpg");
    background-size: 100% 100%;
    border-radius: 5px;
    border: 1px solid black;
}

label mat-icon {
    width: 50px;
    height: 50px;
    font-size: 3.5rem;
    padding: 1%;
}

input#menuButton:checked ~ .dropdown {
    height: 250px;
 } 


 
 li {
     list-style-type: none;
     margin-right: 5%;
 }
 
 a {
     text-decoration: none;
     color: white
 }

 input#menuButton {
    display: none;
}


@media only screen and (min-width:800px) {

    mat-toolbar {
        font-size: 1rem;
    }
    
    #menuMobile {
        display: none;
    }

    .dropdown {
        display: none;
    }
  
    .desktop1{
        display: inline-block;
        height:75px;
        width: 80%; 
    }

    .mat-toolbar-row  {
        display: flex; 
        align-items: center; 
        margin-right: 10px; 
        text-align: center;
        justify-content: center;
    }
    
    .mat-toolbar-row li {
    display: inline-block;
    margin-right: 2.5%; 
    }


}

@media only screen and (min-width: 950px) {  

    mat-toolbar {
        font-size: 1.2rem;
    }

}