
<mat-toolbar>   
    <mat-toolbar-row class="desktop1">
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="main">Home</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="calendario">Calendario</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="classifica">Classifica</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="squadreinfo">Squadre</a></li>
        <!-- <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="playersinfo" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">Players</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="stadiumInfo" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">Stadium</a></li> -->
        <!-- <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="teams">Teams</a></li> 
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="statistiche" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">Statistiche</a></li>-->
        <li><a  href="#" routerLink="registersquadre" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Admin</a></li>
   <!--       <li><a  href="#" routerLink="registerpartite" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Partite</a></li>-->
        <li *ngIf="!isLoggedIn() "><a   href="#" routerLink="login"  >Login</a></li>
        <!-- <span><li *ngIf="!isLoggedIn() "><a   href="#" routerLink="register">Register</a></li></span>  -->
        <span class="example-spacer"></span>
        <li *ngIf= "isLoggedIn() "><a   href="#" (click)="Logout()">Logout</a></li>
    </mat-toolbar-row>
    <label for="menuButton" id="menuMobile"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon></label>
    <div class="logo"></div>
    <input type="checkbox" id="menuButton">
    <mat-toolbar class="dropdown">
       
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="main"(click)="closeMenu()">Home</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="calendario"(click)="closeMenu()">Calendario</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="classifica"(click)="closeMenu()">Classifica</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="squadreinfo"  (click)="closeMenu()">Squadre</a></li>
        <!-- <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="playersinfo" *ngIf="userService.roleMatch(['ROLE_ADMIN'])" (click)="closeMenu()">Players</a></li>
        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="stadiumInfo" *ngIf="userService.roleMatch(['ROLE_ADMIN'])" (click)="closeMenu()">Stadium</a></li>

        <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="statistiche" *ngIf="userService.roleMatch(['ROLE_ADMIN'])" (click)="closeMenu()">Statistiche</a></li> -->
        <!-- <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="teams">Teams</a></li> -->
        <li><a  href="#" routerLink="registersquadre" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"(click)="closeMenu()"><mat-icon>add_circle</mat-icon> Admin</a></li>
     <!--   <li><a  href="#" routerLink="registerpartite" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"(click)="closeMenu()"><mat-icon>add_circle</mat-icon> Partite</a></li>-->
        <li *ngIf="!isLoggedIn() "><a   href="#" routerLink="login" (click)="closeMenu()">Login</a></li>
        <!-- <span><li *ngIf="!isLoggedIn() "><a   href="#" routerLink="register" (click)="closeMenu()">Register</a></li></span>  -->
      
        <span class="example-spacer"></span>
        <li *ngIf= "isLoggedIn() "><a   href="#" (click)="Logout()">Logout</a></li>
    </mat-toolbar>   
</mat-toolbar>
<!-- <mat-toolbar-row class="row2">
    <li><a  href="#" routerLink="registersquadre" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">Add Squadre</a></li>
    <li><a  href="#" routerLink="registerpartite" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">Add Partite</a></li>
    <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="partite">Calendario</a></li>
    <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="squadre">Classifica</a></li>
    <li *ngIf= "isLoggedIn() "><a  href="#" routerLink="squadreinfo">Squadre</a></li>
    <li *ngIf="!isLoggedIn() "><a   href="#" routerLink="login">Login</a></li>
    <span><li *ngIf="!isLoggedIn() "><a   href="#" routerLink="register">Register</a></li></span> 
    <span class="example-spacer"></span>
    <li *ngIf= "isLoggedIn() "><a   href="#" (click)="Logout()">Logout</a></li>
</mat-toolbar-row> -->

     


 

