h2 {
    color:black
  }

  .active-slide {
    /* Your styles for the active-slide class */
    border-bottom: 4px solid black !important;
    color: black !important;
  
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne */
    grid-template-rows: repeat(4, 1fr);    /* 4 righe */
    gap: 10px;                             /* Spaziatura tra bottoni */
    width: 80%;
    height: 100%;
    margin: 0;
    padding-top: 100px;
  }
  
  button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(235, 233, 233);
    font-size: 1.5rem;
    color: grey;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }
  
  .main{
      // position: absolute;
      // left: 50%;
      // transform: translateX(-35%);
      
      margin: 10% 20%;
      width: 90%;
      display: flex;
      flex-direction: column;
      height: 550px;
     align-items: center;
     width:60%;
  //    margin: 10rem auto;
    padding-bottom: 100px;
      justify-content: center;
    
      background-color: rgba(240, 248, 255, 0.95);
      border-radius: 20px;
      // float: left;
    }
  
  //   form {
  //     border: 1px solid black;
  //   }
  
  
  mat-label{
      color: white;
  }
  
    
    mat-form-field{
      border-radius: 5px;
      margin-top: 1%;
      background-color:rgb(168, 184, 207);
      color: white;
      height: 50px;
      
      // display: flex;
      // flex-direction: column;
      width: 50%;
    }
  
    mat-label{
      
      color: black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    button {
      margin-top: 1%;
      background-color: rgb(109, 159, 230);
      color: white;
    }
    
  //   .enter {
  //     width: 5rem;
  //     height: 3.5rem;
  //     margin-left: 1.3rem;
    
  //   }
  body {
      background-image: url(../../assets/rugby-g1d8010854_1920.jpg);
      background-position: 40% 40%;
      height: 1300px;
  }
  
  h1 {
      color: transparent;
  }
  
  @media only screen and (max-width:800px) {
      
  
    div {
      width: 80%;
      margin: 25% 10%;
      height: 500px;
    }
  
    mat-form-field{
      
      margin-top: 1%;
     
   
      height: 50px;
      
      // display: flex;
      // flex-direction: column;
      width: 80%;
    }
  
  }
  
  @media only screen and (max-width:400px) {
      
  
    div {
     
      height: 450px;
    }
  
   
    .box{
      width: 95%;
      margin: 2% 2.5%;
      color: black;
      display: flex;
      flex-wrap: wrap;
  
  
     
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
    color: white;
  }
  
  mat-card {
      width: 87%;
      margin-bottom: 5%;
      background-color: rgb(113, 163, 234);
      border: 5px solid white;
      border-radius: 15px;
      opacity: .9;
      height: 380px;
      color: rgb(32, 114, 229);
  }
  
  mat-card-content, mat-card-title, mat-card-subtitle{
      color:black;
      margin-top: 1%;
      margin-bottom: 0;
  }
  
  mat-card-subtitle{
    font-size: .7rem;
  }
  
  mat-card-title {
    height: 50px;
    color: white;
    font-size: 1.2rem;
  }
  
  mat-card-subtitle {
    height: 30px;
    color: white;
  }
  
  .icon-link {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center align items (icons and links) */
  }
  
  .icon-link mat-icon {
    margin-right: 5px; /* Add some spacing between the icon and the link */
  }
  
  .mat-success {
      background-color: green;
      color: #fff;
  }
  
 
  
  mat-card-actions{
      text-align: center;
      height: 40px;
  
  }
  
  .mat-card-sm-image {
      height: 65px;
      border-radius: 200px;
      width: 70px;
      border: 1px solid black;
  }
  
  .modify {
      text-align: center;
      position: absolute;
      top: 100px;
      margin: 1% 20%;
      width: 90%;
      display: flex;
      flex-direction: column;
      height: 520px;
      width:60%;
      justify-content: center;
      background-color: rgba(240, 248, 255, 0.95);
      border-radius: 20px;
    }
  
  mat-label{
      color: white;
  }
  
    mat-form-field{
      margin-left: 25%;
      margin-right: 25%;
      border-radius: 5px;
      margin-top: 1%;
      background-color:rgb(168, 184, 207);
      color: white;
      height: 50px;
      width: 20%;
      
    }
  
    mat-label{
      color: black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
 
  
    .modify button {
      margin-top: 1%;
      margin-left: 25%;
      margin-right:25%;
    }
    
  
    h2 {
        font-size: 3rem;
    }
  
    .form-control {
      box-shadow: 0 10px 40px 0 #B0C1D9;
      height: 20px;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .form-control::placeholder  {
      font-size: 1rem;
    }
  
    .search-hero input {
      margin-top: 25%;
      border-radius: 5px;
      border: 2px solid rgb(32, 114, 229);
      height: 40px;
      font-size: 1.5rem;
    }
  
  
    iframe {
      height: 160px;
      width: 265px;
      border: 1px solid black;
    }
  
    .hidden-row {
      display: none;
    }
  
    .paginate {
      text-align: center; /* Center the child element horizontally */
    }
    
    .paginate pagination-controls {
      margin-top: none;
      background-color: rgba(255, 255, 255, 0.6);
      padding-right: 50px;
      border-radius: 5px;
      display: inline-block; /* Display as inline-block to limit width */
      margin-left: auto; /* Auto margin on the left */
      margin-right: auto; /* Auto margin on the right */
      max-width: 80%; /* Adjust the max-width as needed */
      margin-right: 5px; /* Adjust the right margin as needed */
      height: 50px;
    }
    
  
  }