

.calender {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: row;
    color: grey;
    background-color: rgb(235, 233, 233);
    height: 50px;
    background-color: transparent;
    border-bottom: 1px solid black !important;
  }
  
  .slides-container3 {
    height: 100%;
    width: 80%;
    display: flex;
    overflow:hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .slide-arrow3 {
    width: 10%;
    padding: 0;
    cursor: pointer;
    transition: opacity 100ms;
    height: 100%;
  }
  
  .slide-arrow3 button{
   padding: 0;
   margin: 0;
   border: none;
   background-color: rgb(235, 233, 233);
   font-size: 1rem;
   color: grey;
   font-weight: bold;
   height: 100%;
  }
  
  .slide-arrow3 button:hover{
    color: black;
    cursor:pointer ;
  }
  
  #slide-arrow-prev3 {
    width: 100%;
    height: 100%;
  
  }
  
  #slide-arrow-next3 {
    width: 100%;
    height: 100%;
  }
    
  
  .calender .slides-container3  .slide3{
   width: 25%;
   border: none;
   background-color: rgb(235, 233, 233);
   font-size: .55rem;
   color: grey;
   flex: 1 0 25%;
   font-weight: bold;
   border-bottom: 3px solid transparent;
  }
  
  .slider-wrapper3 {
    overflow: hidden;
  }
  
  .active-slide {
    /* Your styles for the active-slide class */
    border-bottom: 4px solid black !important;
    color: black !important;
    font-size: .6rem !important;
  }
  
  
  .calender  .slides-container3 button:hover{
    border-bottom: 3px solid grey;
  
  }
  
  .calender  .slides-container3 button:active{
      border-bottom: 3px solid grey;
   
  }
  
  :target {
    color: red;
  }
  
  .left{
    text-align: left;
  }
  
  .center{
    text-align: center;
    }
  
  .bold{
    font-weight:900;
  }
  
  table {
      background-color:  rgba(208, 227, 244, 0.95);
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      text-align: center;
      border-radius: 5px;
  }
  
  h1 {
    color: transparent;
  }
  
  th {
    background-color:rgb(12, 105, 244);
    width: 80px;
    font-size: .8rem;
    color: white;
    text-align: center;
  }
  
  td{
    text-align: center;
    color: black;
    font-size: .7rem;
  
  
  }
  
  
  
  body {
    background-image: url(../../../assets/rugby-g1d8010854_1920.jpg);
    background-position: 40% 40%;
  }
  
  .mat-row:nth-child(2n)  {
    background-color: white;
  }
  
  .mat-row:hover {
    background-color: rgb(64, 62, 62);
    td {color: white;}
  }
  
  img {
      width: 25px;
      height: 20px;
      background-color: rgba(0,0,0,0);
      border-radius: 200px;
      border: 1px solid black;
  }
  
  
  
  @media only screen and (min-width:600px) {
  
    .calender , table{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  
  @media only screen and (min-width:700px) {
  
    .calender , table{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  @media only screen and (min-width:1024px) {
  
    body {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  @media only screen and (min-width:1700px) {
  
    body {
  
      margin-left: 20%;
      margin-right: 20%;
  
     
    }
  
  
  
  }
  
  // only at 950 loooks good with all fields
  
  