<body>
    <div class="box row row-cols-3">
            <h1>Classifica</h1>
              <!-- <mat-card *ngFor="let item of squadre" class="example-card" >
              
                  <mat-card-title>Squadre</mat-card-title> -->

                 
                  
                  <!-- <mat-card-content> -->
                    <!-- <div *ngFor="let item of squadre ">
                        
                  <p>
                      Club nome:{{item.nome}}
                      punti:{{item.punti}}
                      vittorie: {{item.vittorie}}
                      pareggi: {{item.pareggi}}
                      sconfitte: {{item.sconfitte}}
                      giocate: {{item.giocate}}
                      meteFatti: {{item.meteFatti}}
                      meteSubiti: {{item.meteSubiti}}
                      puntiSubiti:  {{item.puntiSubiti}}
                      puntiFatti: {{item.puntiFatti}}
                      differenza: {{item.differenza}}
                       
                      <br>

                  </p>
                  </div> -->
                  <!-- </mat-card-content>
              </mat-card> -->
              <!-- <section>
                  {{error}}
              </section> -->
          </div>
          <div class="slider-wrapper" class="tables">
            <button class="slide-arrow" id="slide-arrow-prev" (click)="scrollleft()">
              &#8249;
            </button>
            <div class="slides-container" id="slides-container">
            <button class="slide" (click)="girone(1)">Girone 1</button>
            <button class="slide" (click)="girone(2)">Girone 2</button>
            <button class="slide" (click)="girone(3)">Girone 3</button>
            <button class="slide" (click)="girone(4)">Girone 4</button>
            <button class="slide" (click)="girone(5)">Girone 5</button>
            <button class="slide" (click)="girone(6)">Girone 6</button>
          
          </div>
            <button class="slide-arrow" id="slide-arrow-next" (click)="scrollright()">
              &#8250;
            </button>
          </div>
          <table mat-table style="margin-top: 1.5%;" [dataSource]="dataSource" class="mat-elevation-z8" matSort [matSortActive]="'punti'" [matSortDirection]="'desc'">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                 
                  <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef >  </th>
                    <td mat-cell *matCellDef="let element"> </td>
                    
                  </ng-container> -->
                  <ng-container matColumnDef="img">
                    <th mat-header-cell *matHeaderCellDef >  </th>
                    <td  class="left" mat-cell *matCellDef="let element"> <img [src]="getPath(element.jersey.color)"> </td>
                    
                  </ng-container>
               

            <!-- Position Column -->
            <ng-container matColumnDef="nome">
              <th style="width:35%" class="left"mat-header-cell *matHeaderCellDef> Squadra </th>
              <td class="left" mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="giocate">
              <th class="center"mat-header-cell *matHeaderCellDef > Giocate </th>
              <td mat-cell *matCellDef="let element"> {{element.giocate}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container  *ngIf="!hideForResponsivePhone" matColumnDef="vittorie">
              <th class="center" mat-header-cell *matHeaderCellDef> Vittorie </th>
              <td mat-cell *matCellDef="let element"> {{element.vittorie}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container  *ngIf="!hideForResponsivePhone" matColumnDef="pareggi">
              <th class="center"mat-header-cell *matHeaderCellDef > Pareggi </th>
              <td mat-cell *matCellDef="let element"> {{element.pareggi}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container  *ngIf="!hideForResponsivePhone" matColumnDef="sconfitte">
              <th class="center"mat-header-cell *matHeaderCellDef > Sconfitte </th>
              <td mat-cell *matCellDef="let element"> {{element.sconfitte}} </td>
            </ng-container>

          

             

              <ng-container  *ngIf="!hideForResponsive" matColumnDef="meteFatti">
                <th class="center"mat-header-cell *matHeaderCellDef > Mete</th>
                <td mat-cell *matCellDef="let element"> {{element.meteFatti}} </td>
              </ng-container>

              <ng-container  *ngIf="!hideForResponsive" matColumnDef="puntiFatti">
                <th class="center"mat-header-cell *matHeaderCellDef > Punti.F </th>
                <td mat-cell *matCellDef="let element"> {{element.puntiFatti}} </td>
              </ng-container>

              <ng-container  *ngIf="!hideForResponsive" matColumnDef="puntiSubiti">
                <th class="center"mat-header-cell *matHeaderCellDef > Punti.S </th>
                <td mat-cell *matCellDef="let element"> {{element.puntiSubiti}} </td>
              </ng-container>

            

              <ng-container matColumnDef="differenza">
                <th class="center"mat-header-cell *matHeaderCellDef > Diff </th>
                <td mat-cell *matCellDef="let element"> {{element.differenza}} </td>
              </ng-container>

              <ng-container matColumnDef="punti">
                <th class="center"mat-header-cell *matHeaderCellDef > Punti </th>
                <td mat-cell *matCellDef="let element"> {{element.punti}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
  </body>
