
.slider-wrapper {
    // margin: 1rem;
    // position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    
    position: absolute;
    display: flex;
    top: 18%;

    margin: auto;
    height:50px;
 
    color: grey;
    border: none;
    width: 10px;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    // opacity: 0.8;
    transition: opacity 100ms;
  }
  
  
  
  #slide-arrow-prev {

    background-color: transparent;
    left: 12%;
    // padding-left: 0.25rem;
    // border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    background-color: transparent;
    right: 12%;
    // padding-left: 0.75rem;
    // border-radius: 2rem 0 0 2rem;
  }
  
  .slide {

    height: 50px;
    flex: 1 0 25%;
  }












table {
    background-color:  rgba(208, 227, 244, 0.95);
 
    // opacity: 0.9;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    

}

.tables {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
margin-top: 100px;
    display: flex;
    flex-direction: row;
    color: grey;
    background-color: rgb(235, 233, 233);
    height: 50px;
}

.tables  .slide{
    width: 25%;
 border: none;
 background-color: rgb(235, 233, 233);
 font-size: 1rem;
 color: grey;

}



.tables  button:hover{
   border-bottom: 5px solid grey;

}

.tables  button:active{
    border-bottom: 5px solid black;
 
 }

 :target {
    color: red;
  }

.left{
   
    text-align: left;
}

.center{
   
    text-align: center;
  }

h1 {
    color: transparent;
}


th {
    background-color:rgb(12, 105, 244);
    width: 80px;
    font-size: .8rem;
    color: white;

}

td{
    text-align: center;
    color: black;
}

body {
    background-image: url(../../../assets/rugby-g1d8010854_1920.jpg);
    background-position: 40% 40%;
}

.mat-row:nth-child(2n)  {
    // background-color: darkgray;
     background-color: white;
}

.mat-row:hover {
    background-color: rgb(64, 62, 62);
   td {color: white;}

}


img {
    width: 25px;
    height: 20px;
    background-color: rgba(0,0,0,0);
    border-radius: 200px;
    border: 1px solid black;
   
  }


  @media only screen and (max-width:1200px) {
    


    table {
     
     
      width: 80%;
  
  } 
  }

 

  @media only screen and (max-width:500px) {
    
  table {
   
    margin-top: 25%;
    width: 80%;


th {
    font-size: .7rem;
    text-align: right;
}

td {
    font-size: .8rem;
    text-align: right;
  
}

.left{
   
    text-align: left;
}

img {
    width: 25px;
    height: 20px;

  
  }
    
} 
}