table {
    background-color:  rgba(240, 248, 255, 0.95);
    margin: auto;
    opacity: 0.8;

}



th {
    background-color:rgb(12, 105, 244);
    width: 80px;
    font-size: .8rem;

}

td{
    
    color: black;
}

body {
    background-image: url(../../../assets/rugby-g1d8010854_1920.jpg);
    background-position: 40% 40%;
}