
<body>
<div>


    <form #f="ngForm" (ngSubmit)="invia()">
      <h1>Login</h1>
      <mat-form-field >
        <mat-label>Username</mat-label>
        <input style="display:block ;" type="text" ngModel name="username" for="username" matInput placeholder="Username">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      </mat-form-field>

      <mat-form-field >
        <mat-label>Password</mat-label>
        <input style="display:block ;" [type]="hide ? 'password' : 'text'" ngModel name="password" for="password" matInput placeholder="password">
        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"> -->
          <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        <!-- </button> -->
      </mat-form-field>
      <br>
      <button class="enter" type="submit" mat-raised-button >Entra</button>
    </form>

    </div>


</body>