<body>
    <aside class ="adminlist">
        <li><a  href="#" routerLink="/registersquadre" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Squadre</a></li>
        <li><a  href="#" routerLink="/registerpartite" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Partite</a></li>
        <li><a  href="#" routerLink="/registerClassifica" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Classifica</a></li>
        <li><a  href="#" routerLink="/registerJersey" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Jersey</a></li>
        <li><a  href="#" routerLink="/registerSeason" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Season</a></li>
        <li><a  href="#" routerLink="/registerChampionship" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Championship</a></li>
        <li><a  href="#" routerLink="/registerPlayer" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Player</a></li>
        <li><a  href="#" routerLink="/registerStadium" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Stadium</a></li>
        <li><a  href="#" routerLink="/registerChannel" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> Channel</a></li>
        <li><a  href="#" routerLink="/registerNews" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> News</a></li>
        <li><a  href="#" routerLink="/registerLoadIds" *ngIf="userService.roleMatch(['ROLE_ADMIN'])"><mat-icon>add_circle</mat-icon> LoadID</a></li>
    </aside>
    <form [formGroup]="StadiumRegisterFormGroup" class="register" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="main">
            <h2>Inserisci Stadium</h2>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Name</mat-label>
                <input matInput type="text" formControlName="name" class="form-control" placeholder=" Nome" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['name'].dirty && StadiumRegisterFormGroup.hasError('required', 'name')">*Il Nome e obbligatorio!</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Indirizzo</mat-label>
                <input matInput type="text" formControlName="indirizzo" class="form-control" placeholder=" Indirizzo" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['indirizzo'].dirty && StadiumRegisterFormGroup.hasError('required', 'indirizzo')">*Il Indirizzo e obbligatorio!</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Allenatore</mat-label>
                <input matInput type="text" formControlName="allenatore" class="form-control" placeholder=" Allenatore" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['allenatore'].dirty && StadiumRegisterFormGroup.hasError('required', 'allenatore')">*Il Allenatore e obbligatorio!</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Telefono</mat-label>
                <input matInput type="text" formControlName="telefono" class="form-control" placeholder=" Telefono" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['telefono'].dirty && StadiumRegisterFormGroup.hasError('required', 'telefono')">*Il Telefono e obbligatorio!</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Sito</mat-label>
                <input matInput type="text" formControlName="sito" class="form-control" placeholder="Sito" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['sito'].dirty && StadiumRegisterFormGroup.hasError('required', 'sito')">*Il sito e obbligatoria!</span>
                </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label  style="color: white">Picture</mat-label>
                <!-- <mat-select [dataSource]="dataSource"> -->
                <mat-select formControlName="picture" class="form-control">
                    <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['picture'].dirty && StadiumRegisterFormGroup.hasError('required', 'picture')">*Il Picture e obbligatorio!</span>
                    <!-- <mat-option *ngFor="let p of squadre" [dataSource]="p"> -->
                    <mat-option *ngFor="let p of picture" [value]="p">{{ p.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label  style="color: white">Id</mat-label>
                <input matInput type="number" formControlName="id" class="form-control" placeholder=" id" required>
                <span class="text-danger" *ngIf="ChampionshipRegisterFormGroup.controls['id'].dirty && ChampionshipRegisterFormGroup.hasError('required', 'id')">*Il Id e obbligatorio!</span>
            </mat-form-field> -->
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Latitude</mat-label>
                <input matInput type="number" formControlName="latitude" class="form-control" placeholder="Latitude" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['latitude'].dirty && StadiumRegisterFormGroup.hasError('required', 'latitude')">*Il Latitude e obbligatoria!</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Longitude</mat-label>
                <input matInput type="number" formControlName="longitude" class="form-control" placeholder="Longitude" required>
                <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['longitude'].dirty && StadiumRegisterFormGroup.hasError('required', 'longitude')">*Il Longitude e obbligatoria!</span>
            </mat-form-field>
        <!--     <mat-form-field appearance="fill">
                <mat-label style="color: white">Squadra</mat-label>
                <mat-select formControlName="squadre" class="form-control">
                    <span class="text-danger" *ngIf="StadiumRegisterFormGroup.controls['squadre'].dirty && StadiumRegisterFormGroup.hasError('required', 'squadre')">*Il Squadra e obbligatorio!</span>
                    <mat-option *ngFor="let p of squadre" [value]="p">{{ p.nome }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label style="color: white">Champsionship</mat-label>
                <mat-select formControlName="championships" class="form-control"placeholder=" Champsionship">
                    <span class="text-danger" *ngIf="ChampionshipRegisterFormGroup.controls['championships'].dirty && ChampionshipRegisterFormGroup.hasError('required', 'championships')">*Il Championship e obbligatorio!</span>
                    <mat-option *ngFor="let p of championships" [value]="p">
                        {{ p.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <button mat-button [disabled]="!StadiumRegisterFormGroup.valid" type="submit" style="width : 10em; height: 3em;">Submit</button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{error}}
        </div>
    </form>
</body>


