.adminlist {
  background-color: rgb(174, 192, 227);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;     /* 👉 permette di andare a capo se non c'è spazio */
  gap: 10px;
  list-style: none;
  padding: 10px;
}

.adminlist li a {
  display: flex;
  gap: 5px;
}

a {
  color: white;
}

h2 {
  color: black;
}

div {
  margin: 10% 3%;
  padding: 2%;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.95);
  border-radius: 2.5%;

  }

mat-label{
    color: white;
}

  
mat-form-field{
  border-radius: 5px;
  margin-top: 1%;
  background-color:rgb(168, 184, 207);
  color: white;
  height: 50px;
  width: 80%;
}

mat-label{
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

button {
  margin-top: 1%;
  background-color: rgb(109, 159, 230);
  color: white;
}
  
body {
  background-image: url(../../../assets/rugby-ga49ab06f6_1920.jpg);
  background-position: 100% 100%;
  height: 1300px;
}

h1 {
  color: transparent;
}

@media only screen and (min-width:600px) {

  div {
    margin: 10% 18%;
    width: 60%;
    }

}

@media only screen and (min-width:1000px) {

  body {
    margin: 0 18%;
    width: 60%;
    }

}