<body>
  <h1>Register Squadra</h1>
  
    <form [formGroup]="SquadreRegisterFormGroup" class="register" #f="ngForm" (ngSubmit)="onSubmit()">
      <div>
      <mat-form-field appearance="fill">
        <mat-label style="color: white">Nome</mat-label>
        <input matInput type="text" formControlName="nome" class="form-control" placeholder=" Nome" required>
        <span class="text-danger" *ngIf="SquadreRegisterFormGroup.controls['nome'].dirty && SquadreRegisterFormGroup.hasError('required', 'nome')">*Il Nome e obbligatorio!</span>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput type="text" formControlName="location" class="form-control" placeholder="Location" required>
        <span class="text-danger" *ngIf="SquadreRegisterFormGroup.controls['location'].dirty && SquadreRegisterFormGroup.hasError('required', 'location')">*Il Location e obbligatoria!</span>
      </mat-form-field> -->
      <button mat-button  [disabled]="!SquadreRegisterFormGroup.valid" type="submit" style="width : 10em; height: 3em;">Submit</button>
    </div>
   </form>
 
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
</body>


