table {
    background-color: white;
    margin: auto;

}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-cancel {
    background-color: red;
    color: #fff;
}



th {
    background-color: black;
    width: 90px;
    font-size: .8rem;

}

td{
    
    color: black;
}