<body>
    <div class="box row row-cols-3">
            <h1>Fixtures/Risultati</h1>
             
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>

      
            <ng-container matColumnDef="squadra1.nome">
              <th mat-header-cell *matHeaderCellDef> Home </th>
              <td mat-cell *matCellDef="let element"> {{element.squadra1.nome}} </td>
            </ng-container>
          
      
            <ng-container matColumnDef="puntisquadra1">
              <th mat-header-cell *matHeaderCellDef> Punti</th>
              <td mat-cell *matCellDef="let element"> {{element.puntisquadra1}} </td>
            </ng-container>

            <ng-container matColumnDef="metesquadra1">
                <th mat-header-cell *matHeaderCellDef> (Mete) </th>
                <td mat-cell *matCellDef="let element" > ({{element.meteSquadra1}}) </td>
              </ng-container>
          
       
            <ng-container matColumnDef="puntisquadra2">
              <th mat-header-cell *matHeaderCellDef> Punti </th>
              <td mat-cell *matCellDef="let element" > {{element.puntisquadra2}} </td>
            </ng-container>

            <ng-container matColumnDef="metesquadra2">
                <th mat-header-cell *matHeaderCellDef> (Mete) </th>
                <td mat-cell *matCellDef="let element" >  ({{element.meteSquadra2}})  </td>
              </ng-container>
          
          
            <ng-container matColumnDef="squadra2.nome">
              <th mat-header-cell *matHeaderCellDef> Away </th>
              <td mat-cell *matCellDef="let element"> {{element.squadra2.nome}} </td>
            </ng-container>

            <ng-container  matColumnDef="modifica">
                <th [ngClass]="isAdmin()" mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell [ngClass]="isAdmin()" *matCellDef="let element"> <button mat-button (click)="modifyPartita(element.id)" color="success" >Modifica</button></td>
              </ng-container>

              

              <ng-container matColumnDef="cancellare">
                <th [ngClass]="isAdmin()" mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell [ngClass]="isAdmin()" *matCellDef="let element"> <button mat-button (click)="cancella(element.id)" color="cancel" >Cancella</button></td>
              </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <div *ngIf="modifybox === true">

            <div >
                <h1>Mofifche Partita</h1>
                <form [formGroup]="PartiteRegisterFormGroup" class="register" #f="ngForm" (ngSubmit)="modify()">
                    
                    <div class="modify">

                        <mat-form-field appearance="fill">
                            <mat-label>Squadra 1</mat-label>
                            <mat-select formControlName="squadra1" class="form-control">
                                <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['squadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'squadra1')">*Il Squadra e obbligatorio!</span>
                            <mat-option *ngFor="let p of squadre" [value]="p">
                            {{ p.nome }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Date</mat-label>
                            <input matInput type="date" formControlName="date" class="form-control" placeholder=" Date" required>
                            <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['date'].dirty && PartiteRegisterFormGroup.hasError('required', 'date')">*Il Score e obbligatorio!</span>
                          </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Score</mat-label>
                    <input matInput type="number" formControlName="puntisquadra1" class="form-control" placeholder=" Score" required>
                    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['puntisquadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'puntisquadra1')">*Il Score e obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Mete</mat-label>
                    <input matInput type="number" formControlName="meteSquadra1" class="form-control" placeholder=" Mete" required>
                    <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['meteSquadra1'].dirty && PartiteRegisterFormGroup.hasError('required', 'meteSquadra1')">*Le Mete e obbligatorio!</span>
                  </mat-form-field>
        
             
            
                <mat-form-field appearance="fill">
                    <mat-label>Squadra 2</mat-label>
       
                        <mat-select formControlName="squadra2" class="form-control">
                            <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['squadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'squadra2')">*Il Squadra e obbligatorio!</span>
               
                    <mat-option *ngFor="let p of squadre" [value]="p">
                    {{ p.nome }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Score</mat-label>
                <input matInput type="number" formControlName="puntisquadra2" class="form-control" placeholder=" Score" required>
                <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['puntisquadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'puntisquadra2')">*Il Score e obbligatorio!</span>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Mete</mat-label>
                <input matInput type="number" formControlName="meteSquadra2" class="form-control" placeholder=" Mete" required>
                <span class="text-danger" *ngIf="PartiteRegisterFormGroup.controls['meteSquadra2'].dirty && PartiteRegisterFormGroup.hasError('required', 'meteSquadra2')">*Le Mete e obbligatorio!</span>
              </mat-form-field>
        
                  <button mat-button color="accent" [disabled]="!PartiteRegisterFormGroup.valid" type="submit" style="width : 10em; height: 3em;">Submit</button>
               
                  <button mat-button class="enter" (click)="close()" style="width : 10em; height: 3em;" >Close</button>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="error">
                  {{error}}
                </div>
                </form>
                
            </div>
        </div>




        <div *ngIf="areYouSure === true">

            <div class="modify">
                <h2>Sei sicuro?</h2>
                
                  <button mat-button   (click)="cancellaPartita()" style="width : 10em; height: 3em;">Cancella</button>
               <br>
                  <button mat-button class="enter" (click)="close()" style="width : 10em; height: 3em;" >Close</button>
               
                
            </div>
        </div>
          
  </body>

