table {
    background-color:  rgba(240, 248, 255, 0.95);
    margin: auto;
    opacity: 0.8;

}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-cancel {
    background-color: red;
    color: #fff;
}



th {
    background-color:rgb(12, 105, 244);
    color: white;
    width: 90px;
    font-size: .8rem;

}

td{
    
    color: black;
}

body {
    background-image: url(../../../assets/rugby-gedab47da2_1920.jpg);
    background-position: 40% 40%;
}